@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
    background-color: #82ddb5;
    background-image: url(img/illustration.gif),url(img/texture.jpg);
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px. auto;
    margin: 0;
    font-family: 'Quicksand'
}

#nav {
    background-color: #6B9;
    border-bottom:2px dashed #487;
    color: white;
    font-weight: bold;
    text-align:center;
    word-spacing: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    max-width: 360px;
}
#header {
    text-align:center;
        margin:40px;
    
    
}
#description, #date {
    max-width: 220px
}
.register_btn {
    background-color: #E43;
    border: 2px dashed #a43;
    border-radius: 2em;
    color: #FFF;
        display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px
    
}
#what {
    background-color: rgba(200, 240, 220, 0.8);
}
#what h1 {
    color: #347788;
    text-align: center;
    padding-top: 20px;
    
}
#what h1 + p 
{  color: #347788;
    line-height: 1.5em;
}
#what h1 + p + p 
{  color: #347788;
    line-height: 1.5em;
}
#what h1 + p + p + p
{  color: #347788;
    line-height: 1.5em;
}
#what h2 {
    color:#347788;
    text-align: center;
    padding-top: 20px;    
}
#sponsor_logos img{
    padding-bottom: 2em;
    width: 300px;
    }
#sponsor_logos {
    text-align: center
}
#why {
    background-color: #b6ead3;
}
#why h2 {
    color: #347788;
    
}