@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
    background-color: #82ddb5;
    background-image: url(img/illustration.gif),url(img/texture.jpg);
    background-position: center 280px, left top;
    background-repeat: no-repeat, repeat-x;
    background-size: 800px. auto;
    margin: 0;
    font-family: 'Quicksand'
}

#nav {
    background-color: #6B9;
    border-bottom:2px dashed #487;
    color: white;
    font-weight: bold;
    text-align:center;
    word-spacing: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    max-width: 360px;
}
#header {
    text-align:center;
        margin:40px;
    
    
}
#description, #date {
    max-width: 220px
}
.register_btn {
    background-color: #E43;
    border: 2px dashed #a43;
    border-radius: 2em;
    color: #FFF;
        display: inline-block;
    font-weight: bold;
    margin-top: 25px;
    padding: 15px 30px
    
}
#what {
    background-color: rgba(200, 240, 220, 0.8);
    padding-bottom: 20;
}
#what h1 {
    color: #347788;
    text-align: center;
    padding-top: 20px;
    
}
#what h1 + p 
{  color: #347788;
    line-height: 1.5em;
    margin: 30px;
}
#what h1 + p + p 
{  color: #347788;
    line-height: 1.5em;
    margin: 30px;
}
#what h1 + p + p + p
{  color: #347788;
    line-height: 1.5em;
    margin: 30px
}
#what h2 {
    color:#347788;
    text-align: center;
    padding-top: 20px;    
}
#sponsor_logos img{
    padding-bottom: 2em;
    width: 300px;
    }
#sponsor_logos {
    text-align: center; 
}
#why {
    background-color: #b6ead3;
    padding-bottom: 20px;
}
#why h1 {
    color: #347788;
    text-align: center;
    padding: 20px
}
#why h1 + p {
    color: #347788;
    line-height: 1.5em;
    padding-bottom: 20px;
    margin: 30px
        
}

#where {
    background-image: url("img/map.gif");
    background-position:center;
    background-size: 1500px. auto;
    margin: 0px ;
    background-repeat: no-repeat, repeat-x;
    padding-top: 10px;
    padding-bottom: 540px
          
}

#where h1 {
    color: #BB4488;
    text-align: center;
    padding-top: 25px;
}

#where h1 + p {
    color: #BB4488;
    font-weight: bold;
    text-align: right;
    margin-right: 200px;
}

#when {
    
    background-image: url("img/wires.png");
    background-color: #439998;
    background-position:center;
    background-size: 600px;
    margin: 0 ;
    padding-top: 10px;
    padding-bottom: 50px
}
#when h1, #when h2, #when h3  {
    color: #FFF;
    text-align: center;
}
#when h3 {
    border-top: dashed;
    border-color: white;
    padding-top: 20px
}
#when h3 + ul {
    color: white;
    margin: 40px
    
}
#who {
    background-color: white;
    padding-top: 20px
}
#who h1 {
    color: #347788;
    text-align: center;
}
#who h1 + p {
    color: #417e8e;
    padding-bottom: 20px;
    margin: 30px;
    line-height: 1.5em
}













