@import
url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0;
}
#nav {
    background-color: darkgray;
    color: white;
    font-size: 18px;
    text-align:right;
    word-spacing: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    font-family: 'Fjalla One', sans-serif;
    border-top:3px solid black;
    border-bottom: 3px solid black;
}
#nav a {
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: center;
    margin:auto;
    width: 900px;
  
}
#brand-image {
    width: 300px;
}
body {
    background-color: lightgrey;
}
#coverimage {
    max-width: 1080px;
    margin-left: auto;


    padding-top: 15px;
    max-width: 1080px;
    width: 90%
}
#introtext p {
    padding-top: 15px;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-size: 30px
}
    
