@import
url(https://fonts.googleapis.com/css?family=Fjalla+One);

#nav {
    background-color: darkgray;
    color: white;
    font-size: 18px;
    text-align:right;
    word-spacing: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    font-family: 'Fjalla One', sans-serif;
}
#nav a {
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: center;
  
}
#brand-image {
    width: 300px;
}
body {
    background-color: lightgrey;
}
#coverimage {
    max-width: 1080px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
}
#introtext p {
    padding-top: 15px;
    text-align: center;
    line-height: 1.5em;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px
}
    
