@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #F2F2F2;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#header {
    background-color: #2d303a;
    height: 90px;
    color:white;
    border-bottom: solid 6px #505a81;
}
.nav {
    width: 950px;
    margin:auto;
    display:grid;
    grid-template-columns: 200px auto;
}
.logo {
    margin-top: 35px;
    font-size: 1.4rem;
}

.links {
    margin: 40px;
    font-size: 0.75rem;
    text-align: right;
    color: #505a81;
}

.links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    
}
.salmon {
    color:#f16c65;  
}
.banner {
    text-align: center;
    background-color: #f06c64;
}
.banner img {
    max-width: 780px;
    width: 90%
}
#services_container {
    background-color: #F2F2F2;
    color: #666D89;
    font-size: 1.1em;
    line-height: 2em;
    margin: auto;
    max-width: 950px;
}

#services_container h1 {
    font-weight: bold;
    margin-top: 60px;
}

#services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
    padding-bottom: 50px;
}
#quote {
    background-color: #F06C64;
    border-bottom: 6px solid #EA676B;
    color: #F0D8D9;
    font-size: 1.1em;
    line-height: 2em;
    padding: 40px 20px;
    padding-bottom: 50px;
}

#quote .centered {
    margin: auto;
    max-width: 950px;
}

#quote form {
    display: grid;
    grid-template-columns: 68% auto;
    padding-top: 1em;
}

#quote form h2 {
    margin-top: 0
}

#quote form p {
    font-size: 0.7em;
    line-height: 1.8em;
    margin-bottom: 2.5em;
}

#quote input,
#quote textarea {
    background-color: #D6564F;
    border: none;
    border-radius: 6px;
    color: #EC7E7E;
    font-size: 0.7em;
    margin: 0.7em 0;
    padding: 1em;
    width: 90%;
    
}




#footer {
	background: #2d303a;
	overflow: hidden;
	}

#footer .inner {
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
#footer p {
	color: #666d89;
	}	
	
#footer p a {
	line-height: 12px;
	color: #666d89;
	}	
	
#footer p a:hover {
	color: #f06c64;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	}	
	
#footer ul {
	float: right;
	}	
	
#footer ul li span {
    font-family: 'Lato', sans-serif;
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin: 0 10px 0 0;
	background: transparent;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #6a718c;
	color: #6a718c;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	}
